{{page-title "Active"}}
<AuBodyContainer class="au-u-background-gray-100">
  <div class="c-layout">
    <div class="c-layout__aside-left c-layout__aside-left--detail">
      <div class="c-sidebar-back">
        <AuLink @skin="button-naked" @route="subsidies" @icon="hierarchical-back">Terug naar overzicht</AuLink>
      </div>
      <AuToolbar @border="bottom" @size="medium" class="c-sidebar-title" as |Group|>
        <Group>
          <AuHeading @skin="6">Lopende Subsidies</AuHeading>
        </Group>
      </AuToolbar>
      <div class="c-sidebar-list">
        <AuList as |listitem|>
          <listitem>
            <AuCard @size="small" class="c-overview-card c-overview-card--active" as |card|>
              <card.header>
                <div>
                  <AuLink @route='subsidies.active' class="au-u-h-functional au-u-medium c-overview-card__link au-u-margin-bottom-small">
                    Erkenning en subsidiëring van een landelijk georganiseerde jeugdvereniging
                  </AuLink>
                  <AuPill @size="small" @skin="success" @draft={{true}}>
                    Ingediend
                  </AuPill>
                </div>
              </card.header>
            </AuCard>
          </listitem>
        </AuList>
      </div>
      <AuToolbar @border="bottom" @size="medium" class="c-sidebar-title" as |Group|>
        <Group>
          <AuHeading @skin="6">Historiek</AuHeading>
        </Group>
      </AuToolbar>
      <div class="c-sidebar-list">
        <AuList as |listitem|>
          <listitem>
            <AuCard @size="small" class="c-overview-card" as |card|>
              <card.header>
                <div>
                  <AuLink @route='subsidies.active' class="au-u-h-functional au-u-medium c-overview-card__link au-u-margin-bottom-small">
                    Erkenning en subsidiëring van een landelijk georganiseerde jeugdvereniging
                  </AuLink>
                  <AuPill @size="small" @skin="neutral">
                    Verlopen
                  </AuPill>
                </div>
              </card.header>
            </AuCard>
          </listitem>
        </AuList>
      </div>
    </div>
    <div class="c-layout__main-right c-layout__main-right--fixed au-u-background-white">
      <div class="au-o-box au-u-padding-bottom-small">
        <AuContent>
          <div class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-tiny">
            <AuHeading @skin="3">Erkenning en subsidiëring van een landelijk georganiseerde jeugdvereniging</AuHeading>
          </div>
        </AuContent>
      </div>
      <AuTabs @reversed={{this.reversed}} as |Tab|>
        <Tab>
          <AuLink @route="subsidies.active.index">Info</AuLink>
        </Tab>
        <Tab>
          <AuLink @route="subsidies.active.request">Aanvraag</AuLink>
        </Tab>
        <Tab>
          <AuLink @route="subsidies.active.status">Status: <AuPill @skin="success" @draft={{true}} @size="small">Ingediend</AuPill></AuLink>
        </Tab>
      </AuTabs>
      {{outlet}}
    </div>
  </div>
</AuBodyContainer>