{{page-title "Subsidies"}}
<AuBodyContainer class="au-u-background-gray-100">
  <div class="c-layout">
    <div class="c-layout__aside-left c-layout__aside-left--detail">
      <div class="c-sidebar-back">
        <AuLink @skin="button-naked" @route="subsidies" @icon="hierarchical-back">Terug naar overzicht</AuLink>
      </div>
      <AuToolbar @border="bottom" @size="medium" class="c-sidebar-title" as |Group|>
        <Group>
          <AuHeading @skin="6">Lopende Subsidies</AuHeading>
        </Group>
      </AuToolbar>
      <div class="c-sidebar-list">
        <AuList as |listitem|>
          <listitem>
            <AuCard @size="small" class="c-overview-card" as |card|>
              <card.header>
                <div>
                  <AuLink @route='subsidies.detail' class="au-u-h-functional au-u-medium c-overview-card__link au-u-margin-bottom-small">
                    Erkenning en subsidiëring van een landelijk georganiseerde jeugdvereniging
                  </AuLink>
                  <AuPill @size="small" @skin="success" @draft={{true}}>
                    Ingediend
                  </AuPill>
                </div>
              </card.header>
            </AuCard>
          </listitem>
        </AuList>
      </div>
      <AuToolbar @border="bottom" @size="medium" class="c-sidebar-title" as |Group|>
        <Group>
          <AuHeading @skin="6">234 subsidies beschikbaar</AuHeading>
        </Group>
      </AuToolbar>
      <div class="c-sidebar-list">
        <AuList as |listitem|>
          {{#each this.subsidies as |item index|}}
          <listitem>
            <AuCard @size="small" class="c-overview-card {{if (eq index 0) 'c-overview-card--active'}}" as |card|>
              <card.header>
                <div class="au-u-flex au-u-flex--between au-u-flex--vertical-center au-u-flex--spaced">
                  <div class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-tiny">
                    <AuLink @route='subsidies.detail' class="au-u-h-functional au-u-medium c-overview-card__link">
                      {{item.name}}
                    </AuLink>
                  </div>
                </div>
              </card.header>
            </AuCard>
          </listitem>
          {{/each}}
        </AuList>
      </div>
    </div>
    <div class="c-layout__main-right au-u-background-white">
      <div class="au-o-box">
        {{#each this.subsidies as |item index|}}
        {{#if (eq index 0)}}
        <AuContent>
          <div class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-tiny">
            <Favorite @active={{item.favorite}} />
            <AuHeading @skin="3">{{item.name}}</AuHeading>
          </div>
          <AuHr />
          <div class="au-o-grid au-o-grid--small au-u-margin-top-none">
            <div class="au-o-grid__item au-u-1-3@medium">
              <p class="au-u-h6">
                <strong>Periode:</strong> {{item.periode}}
                <AuHelpText @skin="secondary" class="au-u-margin-top-none">
                  {{item.periode-detail}}
                </AuHelpText>
              </p>
            </div>
            <div class="au-o-grid__item au-u-1-3@medium">
              <p class="au-u-h6"><strong>Deadline:</strong> {{item.deadline}}</p>
            </div>
            <div class="au-o-grid__item au-u-1-3@medium au-u-text-right@medium">
              <AuPill @skin="border">
              {{item.category}}
            </AuPill>
            </div>
          </div>
          <p>
            De Vlaamse overheid erkent en subsidieert verenigingen die aan jeugdwerk doen. Jeugdwerk is sociaal-cultureel werk op basis van niet-commerciële doelen voor of door de jeugd van 3 tot en met 30 jaar, in de vrije tijd, onder educatieve begeleiding en ter bevordering van de algemene en integrale ontwikkeling van de jeugd die daaraan deelneemt op vrijwillige basis.
          </p>
          <p class="au-u-h-functional">
            <AuLinkExternal @icon="external-link" @iconAlignment="right" href={{item.link}} class="c-external">
              Meer info 
            </AuLinkExternal>
          </p>
          <p>
            <AuButton>
              Subsidie indienen
            </AuButton>
          </p>
        </AuContent>
        {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</AuBodyContainer>