{{#let (unique-id) as |uuid| }}
{{#if @label}}
  <AuLabel for="selection">{{@label}}</AuLabel>
{{/if}}
<select
  name={{or @name "selection"}}
  id="selection{{uuid}}"
  class="c-select"
  {{on "change" @onChange}}
>
  {{#each @options as |opt|}}
    <option value={{opt.value}} selected={{eq @selection opt.value}}>
      {{opt.label}}
    </option>
  {{/each}}
</select>
{{/let}}