{{!-- TODO: item.favorite --}}
{{!-- TODO: sanitize publicService.description --}}

<AuCard {{on "click" this.toggleSidebar}} @size="small" class="c-overview-card c-overview-card--link" as |card|>
  <card.header>
    <div class="c-overview-card__header">
      <div class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-tiny">
        <Favorite @active={{@model.favorite}} />
        <div class="au-u-h6 au-u-medium c-overview-card__link">
          {{@model.name.default}}
        </div>
      </div>
      <div class="au-u-flex au-u-flex--spaced-tiny au-u-flex--vertical-center">
        <div class="au-u-flex au-u-flex--spaced-tiny au-u-flex--wrap">
          {{#if @model.endDate}}
            <AuPill @skin="warning" @size="small">Deadline: {{format-date @model.endDate}}</AuPill>
          {{else}}
            <AuPill @skin="default" @size="small">Onbekend</AuPill>
          {{/if}}
          {{#if @model.thematicAreas}}
            {{#each @model.thematicAreas as |theme|}}
              {{#let (load theme.broader) as |parents|}}
                {{#if parents.isResolved}}
                  <AuPill @skin="border" @size="small">
                    {{get (get parents.value 0) "label"}}
                  </AuPill>
                {{/if}}
              {{/let}}
            {{/each}}
          {{/if}}
          {{#if @model.type}}
            {{#let (load @model.type.broader) as |parents|}}
              {{#if parents.isResolved}}
                <AuPill @skin="border" @size="small">
                  {{get (get parents.value 0) "label"}}
                </AuPill>
              {{/if}}
            {{/let}}
          {{/if}}
        </div>
        {{!-- <div>
          <AuLink
            @icon="circle-info"
            @route="external"
            @query={{hash resource=@model.uri}}
            @hideText={{true}}
            class="au-u-word-break-all"
          >
            Info
          </AuLink>
        </div> --}}
      </div>
    </div>
  </card.header>
  {{!-- <card.content>
    <p class="au-u-h-functional au-u-margin-bottom-tiny">
      {{{@model.description.default}}}
    </p> --}}
    {{!-- {{#each @model.websites as |website|}}
      <p class="au-u-h-functional au-u-margin-top-tiny">
        <AuLinkExternal @icon="external-link" @iconAlignment="right" href={{website.url}} class="c-external">
          {{website.title.default}}
        </AuLinkExternal>
      </p>
    {{else}}
      <AuAlert @skin="info" @size="tiny" class="au-u-margin-bottom-none">
        Deze dienst is niet beschikbaar. Ga naar <AuLinkExternal>de pagina van de aanbieder</AuLinkExternal>.
      </AuAlert>
    {{/each}}
  </card.content> --}}
</AuCard>