<div class="c-navigation" ...attributes>
  <AuButton
    {{this.reference}}
    aria-haspopup="true"
    aria-expanded="{{if this.dropdownOpen 'true' 'false'}}"
    class="c-navigation__button"
    @skin="naked"
    type="button"
    {{on "click" this.toggleDropdown}}
  >
    <div class="c-navigation__trigger">
      <AuIcon @icon="tiles" @iconAlignment="left" />
    </div>
    {{#if (eq this.activeRoute 'dashboard.index')}}
    Overzicht
    {{else if (eq this.activeRoute 'dashboard.search')}}
    Zoeken
    {{else if (eq this.activeRoute 'subsidies.index')}}
    Subsidies
    {{else if (eq this.activeRoute 'subsidies.my-subsidies')}}
    Subsidies
    {{else if (eq this.activeRoute 'subsidies.favorites')}}
    Subsidies
    {{else if (eq this.activeRoute 'subsidies.detail')}}
    Subsidies
    {{else if (eq this.activeRoute 'dashboard.reporting')}}
    Rapporten
    {{else if (eq this.activeRoute 'dashboard.datasources')}}
    Data bronnen
    {{else if (eq this.activeRoute 'dashboard.messages')}}
    Berichten
    {{else if (eq this.activeRoute 'dashboard.updates')}}
    Updates
    {{/if}}
  </AuButton>
  {{#if this.dropdownOpen}}
    <div
      id="account" 
      role="menu"
      {{focus-trap
        shouldSelfFocus=true
        focusTrapOptions=(hash
          clickOutsideDeactivates=this.clickOutsideDeactivates
        )
      }}
      {{on "click" this.closeDropdown}}
      class="c-navigation__dialog"
    >
      <AuLink @route="dashboard.index" role="menuitem">
        <AuIcon @icon="tiles" />Overzicht
      </AuLink>
      <AuLink @route="subsidies" role="menuitem"><AuIcon @icon="subsidies" />Subsidies</AuLink>
      <AuLink @route="dashboard.datasources" role="menuitem"><AuIcon @icon="datasource" />Data bronnen</AuLink>
      <AuLink role="menuitem" @route="dashboard.reporting"><AuIcon @icon="reporting" />Rapporten</AuLink>
      <AuLink role="menuitem" @route="dashboard.messages"><AuIcon @icon="message" />Berichten</AuLink>
    </div>
  {{/if}}
</div>