<AuMainContainer as |m|>
  <m.sidebar>
    <Sidebar>
      <div class="au-c-sidebar__content" tabindex="-1">
        <ul class="au-c-list-navigation">
          <li class="au-c-list-navigation__section-title">
            In te dienen
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink role="menuitem">
              Nieuwste updates <span class="c-list-navigation__counter">4</span>
            </AuNavigationLink>
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink role="menuitem">
              Deadline verstreken <span class="c-list-navigation__counter">3</span>
            </AuNavigationLink>
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink role="menuitem">
              Archief
            </AuNavigationLink>
          </li>
        </ul>
        <ul class="au-c-list-navigation">
          <li class="au-c-list-navigation__section-title">
            Type
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink role="menuitem">
              Subsidies
            </AuNavigationLink>
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink role="menuitem">
              Premies
            </AuNavigationLink>
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink role="menuitem">
              Vergunningen
            </AuNavigationLink>
          </li>
        </ul>
        <ul class="au-c-list-navigation">
          <li class="au-c-list-navigation__section-title">
            Thema's
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink role="menuitem">
              Jeugd
            </AuNavigationLink>
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink role="menuitem">
              Sport
            </AuNavigationLink>
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink role="menuitem">
              Cultuur
            </AuNavigationLink>
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink role="menuitem">
              Vrije tijd
            </AuNavigationLink>
          </li>
        </ul>
        <ul class="au-c-list-navigation">
          <li class="au-c-list-navigation__section-title">
            Deadline
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink role="menuitem">
              Deze maand
            </AuNavigationLink>
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink role="menuitem">
              Dit kwartaal
            </AuNavigationLink>
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink role="menuitem">
              Dit jaar
            </AuNavigationLink>
          </li>
          <li class="au-c-list-navigation__item">
            {{#if (eq this.dateFilter true)}}
            <div class="au-c-list-navigation__form">
              <AuLabel>Specifiek</AuLabel>
              <AuDateInput />
            </div>
            {{else}}
            <AuNavigationLink role="menuitem" {{on 'click' this.toggleDateFilter}}>
              Specifiek
            </AuNavigationLink>
            {{/if}}
          </li>
        </ul>
      </div>
    </Sidebar>
  </m.sidebar>
  <m.content>
    <AuBodyContainer class="au-u-background-gray-100">
      <AuToolbar @border="bottom" @size="small" as |Group|>
        <Group class="au-u-1-1">
          <div class="c-navigation-search">
            <div>
              <AuLabel for="search">Trefwoord</AuLabel>
              <AuInput id="search" @width="block" />
            </div>
            <AuLink @skin="button" @route="cases.search" @icon="search">
              Zoek
            </AuLink>
          </div>
        </Group>
      </AuToolbar>
      {{!-- <AuToolbar @border="bottom" @size="medium" as |Group|>
        <Group>
          <p class="au-u-h6">2346 resultaten voor <strong>'zoekterm'</strong></p>
        </Group>
      </AuToolbar> --}}
      <AuBodyContainer @scroll={{true}}>
        <div class="au-o-box au-o-box--small">
          <AuList as |listitem|>
            {{#each this.subsidies as |item|}}
            <listitem>
              <AuCard @size="small" class="c-overview-card c-overview-card--link" as |card|>
                <card.header class="au-u-padding-bottom-none ">
                  <div class="c-overview-card__header au-u-flex--vertical-start">
                    <div class="au-u-flex au-u-flex au-u-flex--vertical-baseline au-u-flex--spaced-tiny">
                      <AuLinkExternal href={{item.link}} class="au-u-h6 au-u-medium c-overview-card__link">
                        {{item.name}}
                      </AuLinkExternal>
                      <p class="au-u-muted">{{ item.id }}</p>
                    </div>
                    <AuPill @skin="link" @icon="clock" @size="small">
                      Behandeling - <span style="font-weight: 400">Klaar voor beslissing</span>
                    </AuPill>
                  </div>
                </card.header>
                <card.content>
                  <p class="au-u-h-functional au-u-margin-bottom-none">{{item.description}}</p>
                  <div class="au-u-flex au-u-flex--vertical-baseline au-u-flex--spaced-small au-u-margin-top-small">
                    <AuButton @skin="secondary">
                      Meer details
                    </AuButton>
                    <p class="au-u-h-functional">
                      <span class="au-c-link au-c-link--external" aria-hidden="true">
                        Ga naar het subsidieportaal
                        <AuIcon @icon="external" />
                      </span>
                    </p>
                  </div>
                </card.content>
              </AuCard>
            </listitem>
            {{/each}}
          </AuList>
        </div>
      </AuBodyContainer>
      {{!--
      <Pagination /> --}}
    </AuBodyContainer>
  </m.content>
</AuMainContainer>

<div class="au-c-modal-backdrop is-visible"></div>
<div class="dossier-container">
  <div class="au-u-flex au-u-flex--between au-u-margin-bottom">
    <div class="au-u-flex au-u-flex--column">
      <h1 class="au-u-h3">{{ this.subsidies.[1].name }}</h1>
      <p class="au-u-muted">{{ this.subsidies.[1].id }}</p>
    </div>
    <AuLink
      @skin="button-naked"
      @route="cases"
      @icon="cross"
      @iconAlignment="right"
    >
      Sluiten
    </AuLink>
  </div>

  <div class="au-u-flex au-u-flex--column au-u-flex--spaced au-u-margin-bottom">
    <div class="au-u-flex au-u-flex--wrap dossier-container__infos">
      <div class="info-container">
        <p>Type</p>
        <p>{{ this.subsidies.[1].type }}</p>
      </div>
      <div class="info-container">
        <p>Aanbieder</p>
        <p>{{ this.subsidies.[1].provider }}</p>
      </div>
      <div class="info-container">
        <p>Deadline</p>
        <p>{{ this.subsidies.[1].deadline }}</p>
      </div>
      <div class="info-container">
        <p>Wijzigingsdatum</p>
        <p>{{ this.subsidies.[1].lastUpdate }}</p>
      </div>
    </div>

    <div class="info-container">
      <p>Dienst: <span class="au-u-regular">{{ this.subsidies.[1].service }}</span></p>
      <p>{{ this.subsidies.[1].description }}</p>
    </div>
  </div>

  <div class="au-u-padding-small au-u-margin-bottom-small timeline__container">
    <Timeline />
    <p class="au-u-margin-bottom-none au-u-margin-top-small ">
      <span class="au-u-bold au-u-muted">Details:</span>
      <span class="au-u-muted">Onbekend</span>
    </p>
    <p class="au-u-margin-bottom-none">
      <span class="au-u-bold">Actie:</span>
      {{this.subsidies.[1].action}}
    </p>
  </div>

  <AuAlert @title="Wil je dat je collega's meedoen?" @skin="warning" @size="tiny">
    <p>Neem contact op met de verantwoordelijke voor het gebruikersbeheer van jouw gemeente, om anderen toegang te geven
      tot dit dossier.</p>
  </AuAlert>

  <AuButton
    @icon="external-link"
    @iconAlignment="right"
  >
    Ga naar het subsidieportaal
  </AuButton>
</div>