<AuMainContainer as |m|>
  <m.sidebar>
    <Sidebar>
      <div class="au-c-sidebar__content">
        <ul class="au-c-list-navigation">
          <li class="au-c-list-navigation__item">
            <AuNavigationLink @route="dashboard.index" role="menuitem">
              <AuIcon @icon="tiles" @alignment="left" />
              Overzicht
            </AuNavigationLink>
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink @route="dashboard.favorites" role="menuitem">
              <AuIcon @icon="star-filled" @alignment="left" />
              Favorieten
            </AuNavigationLink>
          </li>
        </ul>
        <div class="au-o-box au-o-box--small">
          <AuFieldset as |f|>
            <f.legend class="collapsibleTitle" id="collapsible1" onclick="document.querySelector('#collapsible1 + .au-c-fieldset__content').classList.toggle('filters-hidden')">
              Thematisch
              <AuIcon @icon="chevron-down"/>
            </f.legend>
            <f.content>
              <AuControlCheckbox
                @label="Burger en overheid (7.268)"
                @name="CheckboxB1"
                @value="Burger en Overheid"
                @identifier="Burger en Overheid"
                @checked={{this.filters.burger}}
                @disabled={{false}}
                @onChange={{fn this.updateFilter 'burger'}}
              />
              <AuControlCheckbox
                @label="Werken en ondernemen (5.455)"
                @name="CheckboxB2"
                @value="Werken en ondernemen"
                @identifier="Werken en ondernemen"
                @checked={{this.filters.werken}}
                @disabled={{false}}
                @onChange={{fn this.updateFilter 'werken'}}
              />
              <AuControlCheckbox
                @label="Welzijn (4.771)"
                @name="CheckboxB3"
                @value="Welzijn"
                @identifier="Welzijn"
                @checked={{this.filters.welzijn}}
                @disabled={{false}}
                @onChange={{fn this.updateFilter 'welzijn'}}
              />
              <AuControlCheckbox
                @label="Bouwen en wonen (2.617)"
                @name="CheckboxB4"
                @value="Bouwen en wonen"
                @identifier="Bouwen en wonen"
                @checked={{this.filters.bouwen}}
                @disabled={{false}}
                @onChange={{fn this.updateFilter 'bouwen'}}
              />
              <AuControlCheckbox
                @label="Mobiliteit (1.695)"
                @name="CheckboxB5"
                @value="Mobiliteit"
                @identifier="Mobiliteit"
                @checked={{this.filters.mobiliteit}}
                @disabled={{false}}
                @onChange={{fn this.updateFilter 'mobiliteit'}}
              />
              <AuControlCheckbox
                @label="Omgeving (1.405)"
                @name="CheckboxB6"
                @value="Omgeving"
                @identifier="Omgeving"
                @checked={{this.filters.omgeving}}
                @disabled={{false}}
                @onChange={{fn this.updateFilter 'omgeving'}}
              />
              <AuControlCheckbox
                @label="Vrije tijd (1.197)"
                @name="CheckboxB7"
                @value="Vrije tijd"
                @identifier="Vrije tijd"
                @checked={{this.filters.vrijeTijd}}
                @disabled={{false}}
                @onChange={{fn this.updateFilter 'vrijeTijd'}}
              />
            </f.content>
          </AuFieldset>
        </div>
        <div class="au-o-box au-o-box--small">
          <AuFieldset as |f|>
            <f.legend  class="collapsibleTitle" id="collapsible2" onclick="document.querySelector('#collapsible2 + .au-c-fieldset__content').classList.toggle('filters-hidden')">
              Type
              <AuIcon @icon="chevron-down"/>
            </f.legend>
            <f.content class="filters-hidden">
              <AuControlCheckbox
                @label="Documenten (7.602)"
                @name="Checkbox1"
                @value="Documenten"
                @identifier="Documenten"
                @checked={{this.filters.documenten}}
                @onChange={{fn this.updateFilter 'documenten'}}
              />
              <AuControlCheckbox
                @label="Vergunningen (7.475)"
                @name="Checkbox2"
                @value="Vergunningen"
                @identifier="Vergunningen"
                @checked={{this.filters.vergunningen}}
                @onChange={{fn this.updateFilter 'vergunningen'}}
              />
              <AuControlCheckbox
                @label="Steunmaatregelen (3.062)"
                @name="Checkbox3"
                @value="Steunmaatregelen"
                @identifier="Steunmaatregelen"
                @checked={{this.filters.steunmaatregelen}}
                @onChange={{fn this.updateFilter 'steunmaatregelen'}}
              />
              <AuControlCheckbox
                @label="Advies en begeleiding (896)"
                @name="Checkbox4"
                @value="Advies en begeleiding"
                @identifier="Advies en begeleiding"
                @checked={{this.filters.advies}}
                @onChange={{fn this.updateFilter 'advies'}}
              />
              <AuControlCheckbox
                @label="Infrastructuur en materiaal (654)"
                @name="Checkbox5"
                @value="Infrastructuur en materiaal"
                @identifier="Infrastructuur en materiaal"
                @checked={{this.filters.infrastructuur}}
                @onChange={{fn this.updateFilter 'infrastructuur'}}
              />
              <AuControlCheckbox
                @label="Belastingen (590)"
                @name="Checkbox6"
                @value="Belastingen"
                @identifier="Belastingen"
                @checked={{this.filters.belastingen}}
                @onChange={{fn this.updateFilter 'belastingen'}}
              />
            </f.content>
          </AuFieldset>
        </div>
        <div class="au-o-box au-o-box--small">
          <AuFieldset as |f|>
            <f.legend class="collapsibleTitle" id="collapsible3" onclick="document.querySelector('#collapsible3 + .au-c-fieldset__content').classList.toggle('filters-hidden')">
              Deadline
              <AuIcon @icon="chevron-down"/>
              </f.legend>
            <f.content class="filters-hidden">
              <AuControlCheckbox
                @label="Deze maand"
                @name="CheckboxC1"
                @value="Deze maand"
                @identifier="Deze maand"
                @checked={{this.filters.month}}
                @disabled={{false}}
                @onChange={{fn this.updateFilter 'month'}}
              />
              <AuControlCheckbox
                @label="Dit kwartaal"
                @name="CheckboxC2"
                @value="Dit kwartaal"
                @identifier="Dit kwartaal"
                @checked={{this.filters.quart}}
                @disabled={{false}}
                @onChange={{fn this.updateFilter 'quart'}}
              />
            </f.content>
          </AuFieldset>
        </div>
        <div class="au-o-box au-o-box--small">
          <AuFieldset as |f|>
            <f.legend class="collapsibleTitle" id="collapsible4" onclick="document.querySelector('#collapsible4 + .au-c-fieldset__content').classList.toggle('filters-hidden')">
              Aanbieder
              <AuIcon @icon="chevron-down"/>
            </f.legend>
            <f.content class="filters-hidden">
              <AuControlCheckbox
                @label="Europese (307)"
                @name="CheckboxD1"
                @value="Europese"
                @identifier="Europese"
                @checked={{this.filters.europese}}
                @disabled={{false}}
                @onChange={{fn this.updateFilter 'europese'}}
              />
              <AuControlCheckbox
                @label="Federale (10.153)"
                @name="CheckboxD2"
                @value="Federale"
                @identifier="Federale"
                @checked={{this.filters.federale}}
                @disabled={{false}}
                @onChange={{fn this.updateFilter 'federale'}}
              />
              <AuControlCheckbox
                @label="Vlaamse (6.238)"
                @name="CheckboxD3"
                @value="Vlaamse"
                @identifier="Vlaamse"
                @checked={{this.filters.vlaamse}}
                @disabled={{false}}
                @onChange={{fn this.updateFilter 'vlaamse'}}
              />
              <AuControlCheckbox
                @label="Provinciale (311)"
                @name="CheckboxD4"
                @value="Provinciale"
                @identifier="Provinciale"
                @checked={{this.filters.provinciale}}
                @disabled={{false}}
                @onChange={{fn this.updateFilter 'provinciale'}}
              />
              <AuControlCheckbox
                @label="Lokale (6.529)"
                @name="CheckboxD5"
                @value="Lokale"
                @identifier="Lokale"
                @checked={{this.filters.lokale}}
                @disabled={{false}}
                @onChange={{fn this.updateFilter 'lokale'}}
              />
            </f.content>
          </AuFieldset>
        </div>

      </div>
    </Sidebar>
  </m.sidebar>
  <m.content>
    <AuBodyContainer class="au-u-background-gray-100" >
       <AuToolbar @border="bottom" @size="small" as |Group|>
        <Group class="au-u-1-1">
          <div class="c-navigation-search">
            <div>
              <AuLabel for="search">Trefwoord</AuLabel>
              <AuInput id="search" @width="block" />
            </div>
            <AuLink @skin="button" @route="dashboard.search" @icon="search">
              Zoek
            </AuLink>
          </div>
          </Group>
      </AuToolbar>
      <AuToolbar @border="bottom" @size="medium" as |Group|>
        <Group>
          <p class="au-u-h6">2346 items</p>
        </Group>
        <Group>
          <AuLabel for="sorting">Gesorteerd op:</AuLabel>
          <select
            name="sorting"
            id="sorting"
            class="c-select"
            {{on "change" this.updateSorting}}
          >
            <option value="deadline" selected={{eq this.sortBy "deadline"}}>
              Deadline
            </option>
            <option value="nameAsc" selected={{eq this.sortBy "nameAsc"}}>
              A-Z (oplopend)
            </option>
            <option value="nameDesc" selected={{eq this.sortBy "nameDesc"}}>
              Z-A (aflopend)
            </option>
          </select>
        </Group>
      </AuToolbar>
      <AuBodyContainer @scroll={{true}}>
        <div class="au-o-box au-o-box--small">
          <AuList as |listitem|>
            {{#each this.sortedResults as |item|}}
            <listitem>
              <AuCard @size="small" class="c-overview-card {{if item.link 'c-overview-card--link'}}" as |card|>
                <card.header class="au-u-padding-bottom-none">
                  <div class="c-overview-card__header">
                    <div class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-tiny">
                      <Favorite @active={{item.favorite}} />
                      {{#if item.link}}
                      <AuLinkExternal href={{item.link}} class="au-u-h6 au-u-medium c-overview-card__link">
                        {{item.name}}
                      </AuLinkExternal>
                      {{else}}
                      <p class="au-u-h6 au-u-medium">
                        {{item.name}}
                      </p>
                      {{/if}}
                    </div>
                    <div class="au-u-flex au-u-flex--spaced-tiny">
                      {{#if item.type}}
                      {{#if item.deadline}}
                      <AuPill @skin="warning" @size="small">Deadline: {{item.deadline}}</AuPill>
                      {{else}}
                      <AuPill @skin="default" @size="small">Doorlopend inschrijven</AuPill>
                      {{/if}}
                      {{/if}}
                      {{#if item.theme}}
                      <AuPill @skin="border" @size="small">
                        {{item.theme}}
                      </AuPill>
                      {{/if}}
                    </div>
                  </div>
                </card.header>
                <card.content>
                  <p class="au-u-h-functional au-u-margin-bottom-tiny">{{item.description}}</p>
                  {{#if item.link}}
                  <p class="au-u-h-functional au-u-margin-top-tiny">
                    <span class="au-c-link au-c-link--external" aria-hidden="true">
                      Naar de {{#if item.categorie}}tool{{else}}subsidie{{/if}}
                      <AuIcon @icon="external" />
                    </span>
                  </p>
                  {{else}}
                  <AuAlert @skin="info" @size="tiny" class="au-u-margin-bottom-none">Deze dienst is niet beschikbaar. Ga naar <AuLinkExternal>de pagina van de aanbieder</AuLinkExternal>.</AuAlert>
                  {{/if}}
                </card.content>
              </AuCard>
            </listitem>
            {{else}}
            <AuAlert
              @title="Niet gevonden wat je zocht?"
              @skin={{this.skin}}
              @icon="circle-question"
              @size={{this.size}}
              @closable={{this.closable}}
              @onClose={{this.onClose}}
            >
              <p>Laat ons weten welke diensten je mist op <a href="#!" class="au-c-link">LoketLokaalBestuur@vlaanderen.be.</a></p>
            </AuAlert>
            {{/each}}
          </AuList>
        </div>
      </AuBodyContainer>
      {{!-- <Pagination /> --}}
    </AuBodyContainer>
  </m.content>
</AuMainContainer>