{{!-- <AuMainContainer class="au-u-background-gray-100" as |m|>
  <m.content>
    <div class="c-layout">
      <div class="c-layout__main-left">
        <div class="au-o-box au-o-flow">
          <AuCard as |c|>
            <c.content>
              <div class="c-navigation-search">
                <div>
                  <AuLabel for="search">Trefwoord</AuLabel>
                  <AuInput id="search" @width="block" />
                </div>
                <AuLink @skin="button" @route="dashboard.search" @icon="search">
                  Zoek
                </AuLink>
              </div>
              <AuHelpText @skin="secondary">
                <AuIcon @icon="circle-info" @alignment="left" />U kan zoeken doorheen alle modules die beschikbaar zijn.
              </AuHelpText>
            </c.content>
          </AuCard>
          <AuContent>
            <AuHeading @level="2" @skin="5">Laatst gebruikt</AuHeading>
            <div class="au-o-grid au-o-grid--tiny au-u-margin-top-tiny">
              <div class="au-o-grid__item au-u-1-2@small">
                <AuLink @route="cases" class="au-c-link--box"><AuIcon @icon="subsidies" />Subsidies</AuLink>
              </div>
              <div class="au-o-grid__item au-u-1-2@small">
                <AuLink @route="dashboard.data" class="au-c-link--box"><AuIcon @icon="datasource" />Data bronnen</AuLink>
              </div>
              <div class="au-o-grid__item au-u-1-2@small">
                <AuLink @route="dashboard.reporting" class="au-c-link--box"><AuIcon @icon="reporting" />Rapporten</AuLink>
              </div>
            </div>
            <p class="au-u-h-functional">
              <AuLink @icon="plus" @skin="secondary">Toon alle toepassingen</AuLink>
            </p>
          </AuContent>
        </div>
       </div>
      <div class="c-layout__aside-right">
        <div class="au-o-box au-o-flow">
          <div class="au-u-flex au-u-flex--spaced-tiny au-u-flex--between au-u-flex--vertical-center au-u-flex--wrap">
            <AuHeading @level="2" @skin="4">Nieuwste updates</AuHeading>
            <AuButton @skin="naked" @icon="settings" class="au-u-padding-none" {{on 'click' this.openNewsletterModal}}>
              Nieuwsbrief
            </AuButton>
          </div>
          <AuHr />
          <AuList @divider={{true}} as |ListItem|>
            {{#each this.news as |item|}}
            <ListItem>
              <RichLink @new={{item.new}} @title={{item.title}} @info={{item.date}} @icon={{item.icon}} />
            </ListItem>
            {{/each}}
            <ListItem>
              <AuLink @icon="archive" @route="dashboard.updates">
                Alle updates
              </AuLink>
            </ListItem>
          </AuList>
        </div>
      </div>
    </div>
  </m.content>
</AuMainContainer>
 --}}

<AuMainContainer as |m|>
  <m.sidebar>
    <Sidebar>
      <div class="au-c-sidebar__content">
        <ul class="au-c-list-navigation">
          <li class="au-c-list-navigation__section-title">
            Toon mij enkel
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink @route="cases.favorites" role="menuitem">
              <AuIcon @icon="star-filled" @alignment="left" />
              Favorieten
            </AuNavigationLink>
          </li>
        </ul>
        <div class="au-o-box au-o-box--small">
          <AuFieldset as |f|>
            <f.legend>Type</f.legend>
            <f.content>
              <AuControlCheckbox
                @label="Subsidies"
                @name="Checkboxs"
                @value="Subsidies"
                @identifier="Subsidies"
                @checked={{false}}
                @disabled= {{false}}
              />
              <AuControlCheckbox
                @label="Premies"
                @name="Checkboxs"
                @value="Premies"
                @identifier="Premies"
                @checked={{false}}
                @disabled= {{false}}
              />
              <AuControlCheckbox
                @label="Vergunningen"
                @name="Checkboxs"
                @value="Vergunningen"
                @identifier="Vergunningen"
                @checked={{false}}
                @disabled= {{false}}
              />
            </f.content>
          </AuFieldset>
        </div>
        <div class="au-o-box au-o-box--small">
          <AuFieldset as |f|>
            <f.legend>Thematisch</f.legend>
            <f.content>
              <AuControlCheckbox
                @label="Jeugd"
                @name="Checkboxs"
                @value="Jeugd"
                @identifier="Jeugd"
                @checked={{false}}
                @disabled= {{false}}
              />
              <AuControlCheckbox
                @label="Cultuur"
                @name="Checkboxs"
                @value="Cultuur"
                @identifier="Cultuur"
                @checked={{false}}
                @disabled= {{false}}
              />
              <AuControlCheckbox
                @label="Sport"
                @name="Checkboxs"
                @value="Sport"
                @identifier="Sport"
                @checked={{false}}
                @disabled= {{false}}
              />
            </f.content>
          </AuFieldset>
        </div>
        <div class="au-o-box au-o-box--small">
          <AuFieldset as |f|>
            <f.legend>Deadline</f.legend>
            <f.content>
              <AuControlCheckbox
                @label="Deze maand"
                @name="Checkboxs"
                @value="Deze maand"
                @identifier="Deze maand"
                @checked={{false}}
                @disabled= {{false}}
              />
              <AuControlCheckbox
                @label="Dit kwartaal"
                @name="Checkboxs"
                @value="Dit kwartaal"
                @identifier="Dit kwartaal"
                @checked={{false}}
                @disabled= {{false}}
              />
            </f.content>
          </AuFieldset>
        </div>
        <div class="au-o-box au-o-box--small">
          <AuFieldset as |f|>
            <f.legend>Aanbieder</f.legend>
            <f.content>
              <AuControlCheckbox
                @label="ABB"
                @name="Checkboxs"
                @value="ABB"
                @identifier="ABB"
                @checked={{false}}
                @disabled= {{false}}
              />
              <AuControlCheckbox
                @label="Opgroeien"
                @name="Checkboxs"
                @value="Opgroeien"
                @identifier="Opgroeien"
                @checked={{false}}
                @disabled= {{false}}
              />
            </f.content>
          </AuFieldset>
        </div>
        
      </div>
    </Sidebar>
  </m.sidebar>
  <m.content>  
    <AuBodyContainer class="au-u-background-gray-100" >
       <AuToolbar @border="bottom" @size="small" as |Group|>
        <Group class="au-u-1-1">
          <div class="c-navigation-search">
            <div>
              <AuLabel for="search">Trefwoord</AuLabel>
              <AuInput id="search" @width="block" />
            </div>
            <AuLink @skin="button" @route="dashboard.search" @icon="search">
              Zoek
            </AuLink>
          </div>
          </Group>
      </AuToolbar>
      {{!-- <AuToolbar @border="bottom" @size="medium" as |Group|>
        <Group>
          <p class="au-u-h6">2346 resultaten voor <strong>'zoekterm'</strong></p>
        </Group>
      </AuToolbar> --}}
      <AuBodyContainer @scroll={{true}}>
        {{!-- <AuTable>
          <:header>
            <tr>
              <th>Titel subsidie</th>
              <th>Periode</th>
              <th>Aanvragen tot</th>
              <th>Categorie</th>
              <th class="c-row-end"></th>
            </tr>
          </:header>
          <:body>
            {{#each this.subsidies as |item|}}
            <tr class="c-clickable-row">
              <td>
                <strong>{{item.name}}</strong><br/>
                <AuLinkExternal @icon="external-link" @iconAlignment="right" @href={{item.link}} class="c-external">
                  Meer info
                </AuLinkExternal>
              </td>
              <td>
                {{item.periode}}
                <AuHelpText @skin="secondary">
                  {{item.periode-detail}}
                </AuHelpText>
              </td>
              
              <td>
                {{item.deadline}}
              </td>
              <td>
                <AuPill @size="small">
                  {{item.category}}
                </AuPill>
              </td>
              <td class="c-row-end">
                <AuButton @skin="naked" @icon="chevron-right" @hideText={{true}} class="c-row-action">
                  Subsidieaanvraag starten
                </AuButton>
              </td>
            </tr>
            {{/each}}
          </:body>
        </AuTable> --}}
        <div class="au-o-box au-o-box--small">
          <AuList as |listitem|>
            {{#each this.subsidies as |item|}}
            <listitem>
              <AuCard @size="small" class="c-overview-card" as |card|>
                <card.header class="au-u-padding-bottom-none">
                  <div class="au-u-flex au-u-flex--between au-u-flex--vertical-center au-u-flex--spaced">
                    <div class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-tiny">
                      <Favorite @active={{item.favorite}} />
                      <AuLinkExternal href={{item.link}} class="au-u-h6 au-u-medium c-overview-card__link">
                        {{item.name}}
                      </AuLinkExternal>
                    </div>
                    <div class="au-u-flex au-u-flex--spaced-tiny">
                      {{#if item.deadline}}
                      <AuPill @skin="warning">Deadline: {{item.deadline}}</AuPill>
                      {{/if}}
                      <AuPill @skin="border" @icon="folder">
                        Subsidie
                      </AuPill>
                    </div>
                  </div>
                </card.header>
                <card.content>
                  <p class="au-u-h-functional au-u-margin-bottom-tiny">Gemeentebesturen zijn verplicht om hun mandaten door te geven aan de Vlaamse Overheid.</p>
                  <p class="au-u-h-functional au-u-margin-top-tiny">
                     <AuLinkExternal @icon="external-link" @iconAlignment="right" href={{item.link}} class="c-external">
                      Naar de subsidie
                    </AuLinkExternal>
                  </p>
                </card.content>
              </AuCard>
            </listitem>
            {{/each}}
          </AuList>
        </div>
      </AuBodyContainer>
      <Pagination />
    </AuBodyContainer>
  </m.content>
</AuMainContainer>