<AuMainContainer as |m|>
  <m.sidebar>
    <Sidebar>
      <div class="au-c-sidebar__content">
        {{!-- <ul class="au-c-list-navigation">
          <li class="au-c-list-navigation__item">
            <AuNavigationLink @route="dashboard.index" role="menuitem">
              <AuIcon @icon="tiles" @alignment="left" />
              TEST
            </AuNavigationLink>
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink @route="dashboard.favorites" role="menuitem">
              <AuIcon @icon="star-filled" @alignment="left" />
              TEST
            </AuNavigationLink>
          </li>
        </ul> --}}
        <p class="au-u-margin-left-small au-u-margin-top-small au-c-label">Filters</p>
        <div class="au-o-box au-o-box--small">
            <ConceptSchemeFilter
              @conceptScheme={{this.themeConceptScheme}}
              @selected={{this.themeRecords}}
              @onChange={{this.updateThemeFilter}}
              @label="Thematisch"
              @isOpenInitially={{true}} />
        </div>
        <div class="au-o-box au-o-box--small">
          <ConceptSchemeFilter
            @conceptScheme={{this.serviceTypeConceptScheme}}
            @selected={{this.typeRecords}}
            @onChange={{this.updateServiceTypeFilter}}
            @label="Type"
            @isOpenInitially={{not (is-empty this.typeRecords)}} />
        </div>
        {{!-- <div class="au-o-box au-o-box--small">
          <CollapsibleFieldset @label="Deadline" @isOpenInitially={{not (is-empty this.deadline)}} >
                <AuCheckboxGroup
                  @name="deadline"
                  @selected={{this.deadline}}
                  @onChange={{this.updateDeadlineFilter}} as |Group|>
                  {{#each this.deadlineOptions as |opt|}}
                    <Group.Checkbox @value={{opt.value}}>{{opt.label}}</Group.Checkbox>
                  {{/each}}
                </AuCheckboxGroup>
          </CollapsibleFieldset>
        </div> --}}
        <div class="au-o-box au-o-box--small">
            <ConceptSchemeFilter
              @conceptScheme={{this.authorityConceptScheme}}
              @selected={{this.authorityRecords}}
              @onChange={{this.updateAuthorityLevelFilter}}
              @label="Aanbieder"
              @isOpenInitially={{not (is-empty this.authorityRecords)}} />
        </div>
      </div>
    </Sidebar>
  </m.sidebar>
  <m.content>
    <AuBodyContainer class="au-u-background-gray-100" >
      <AuToolbar @border="bottom" @size="small" as |Group|>
        <Group class="au-u-1-1">
          <form {{on "submit" this.search}} class="c-navigation-search">
            <div>
            <AuLabel for="search">Wat zoek je?</AuLabel>
            <AuInput id="search" value={{this.searchTermBuffer}} @width="block" {{on "input" this.updateSearchTermBuffer}} />
            </div>
            {{#if this.searchTerm}}
              <AuButton
                @skin="secondary"
                {{on "click" this.resetSearch}}>
                <AuIcon @icon="cross" />
                <span class="au-u-hidden-visually">close</span>
              </AuButton>
            {{/if}}
            <AuButton type="submit" @icon="search">
              Zoek
            </AuButton>
          </form>
        </Group>
      </AuToolbar>
      <AuToolbar @border="bottom" @size="medium" as |Group|>
        <Group>
          {{#if this.searchTerm}}
            <p class="au-u-h6">{{@model.meta.count}} resultaten voor <strong>'{{this.searchTerm}}'</strong></p>
          {{else}}
            <p class="au-u-h6">{{@model.meta.count}} diensten</p>
          {{/if}}
        </Group>
        <Group>
          <AuSelect
            @label="Gesorteerd op:"
            @selection={{this.sortBy}}
            @options={{this.sortingOptions}}
            @onChange={{this.updateSorting}} />
        </Group>
      </AuToolbar>
      <AuBodyContainer @scroll={{true}}>
        <div class="au-o-box au-o-box--small">
          <AuList as |listitem|>
            {{#each @model as |publicService|}}
              <listitem>
                <IpdcServiceCard @model={{publicService}} />
              </listitem>
            {{else}}
              <AuAlert
                @title="Niet gevonden wat je zocht?"
                @icon="circle-question">
                <p>Laat ons weten welke diensten je mist op <a href="#!" class="au-c-link">LoketLokaalBestuur@vlaanderen.be.</a></p>
              </AuAlert>
            {{/each}}
          </AuList>
        </div>
      </AuBodyContainer>
      <Pagination
        @page={{this.page}}
        @size={{this.size}}
        @total={{this.model.meta.count}}
        @onChange={{this.setPage}}
        @onChangeSize={{this.setPageSize}} />
    </AuBodyContainer>
  </m.content>
</AuMainContainer>