{{page-title "Search"}}
<AuMainContainer as |m|>
  <m.sidebar>
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__content">
        <ul class="au-c-list-navigation">
          <li class="au-c-list-navigation__section-title">
            Thema's
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink>
              Jeugd
            </AuNavigationLink>
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink>
              Sport
            </AuNavigationLink>
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink>
              Cultuur
            </AuNavigationLink>
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink>
              Vrije tijd
            </AuNavigationLink>
          </li>
        </ul>
        <ul class="au-c-list-navigation">
          <li class="au-c-list-navigation__section-title">
            Deadline
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink>
              Deze maand
            </AuNavigationLink>
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink>
              Dit kwartaal
            </AuNavigationLink>
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink>
              Specifiek
            </AuNavigationLink>
          </li>
        </ul>
      </div>
    </div>
  </m.sidebar>
  <m.content>  
    <AuBodyContainer class="au-u-background-gray-100" >
      <AuToolbar @border="bottom" @size="medium" as |Group|>
        <Group>
          <p class="au-u-h6">2346 resultaten voor <strong>'zoekterm'</strong></p>
        </Group>
      </AuToolbar>
      <AuBodyContainer @scroll={{true}}>
        {{!-- <AuTable>
          <:header>
            <tr>
              <th>Titel subsidie</th>
              <th>Periode</th>
              <th>Aanvragen tot</th>
              <th>Categorie</th>
              <th class="c-row-end"></th>
            </tr>
          </:header>
          <:body>
            {{#each this.subsidies as |item|}}
            <tr class="c-clickable-row">
              <td>
                <strong>{{item.name}}</strong><br/>
                <AuLinkExternal @icon="external-link" @iconAlignment="right" @href={{item.link}} class="c-external">
                  Meer info
                </AuLinkExternal>
              </td>
              <td>
                {{item.periode}}
                <AuHelpText @skin="secondary">
                  {{item.periode-detail}}
                </AuHelpText>
              </td>
              
              <td>
                {{item.deadline}}
              </td>
              <td>
                <AuPill @size="small">
                  {{item.category}}
                </AuPill>
              </td>
              <td class="c-row-end">
                <AuButton @skin="naked" @icon="chevron-right" @hideText={{true}} class="c-row-action">
                  Subsidieaanvraag starten
                </AuButton>
              </td>
            </tr>
            {{/each}}
          </:body>
        </AuTable> --}}
        <div class="au-o-box au-o-box--small">
          <AuList as |listitem|>
            {{#each this.subsidies as |item|}}
            <listitem>
              <AuCard @size="small" class="c-overview-card" as |card|>
                <card.header>
                  <div class="au-u-flex au-u-flex--between au-u-flex--vertical-center au-u-flex--spaced">
                    <AuLink @route="subsidies.detail" class="au-u-h5 au-u-medium c-overview-card__link">
                      {{item.name}}
                    </AuLink>
                    <AuPill @skin="border">
                      {{item.category}}
                    </AuPill>
                  </div>
                </card.header>
                <card.content class="au-o-flow">
                  <p class="au-u-h-functional"><strong>Deadline:</strong> {{item.deadline}}</p>
                  <p class="au-u-h-functional">
                    <AuLinkExternal @icon="external-link" @iconAlignment="right" href={{item.link}} class="c-external">
                      Meer info 
                    </AuLinkExternal>
                  </p>
                </card.content>
              </AuCard>
            </listitem>
            {{/each}}
          </AuList>
        </div>
      </AuBodyContainer>
      <Pagination />
    </AuBodyContainer>
  </m.content>
</AuMainContainer>