{{page-title "Index"}}

<AuMainContainer as |m|>
  <m.content @scroll={{true}}  class="au-u-background-gray-100">
    <section class="au-o-region-large">
      <div class="au-o-layout au-o-layout--small   au-o-flow">
        <AuHeading class="au-u-text-center">
          Loket prototype
        </AuHeading>
        <AuCard as |Card|>
          <Card.header>
            <AuHeading @level="2" @skin="3">Overview</AuHeading>
            <AuHr />
          </Card.header>
          <Card.content>
            <AuList @divider={{true}} as |Item|>
              <Item>
                <AuLink @route="login">Login page</AuLink>
              </Item>
              <Item>
                <AuLink @route="dashboard">Dashboard</AuLink>
              </Item>
              <Item>
                <AuLink @route="dashboard.search">Zoek</AuLink>
              </Item>
              <Item>
                <AuLink @route="dashboard.updates">Updates</AuLink>
              </Item>
              <Item>
                <AuLink @route="settings">Instellingen</AuLink>
              </Item>
              <Item>
                <AuLink @route="email">Nieuwsbrief</AuLink>
              </Item>
            </AuList>
          </Card.content>
        </AuCard>
        <AuCard as |Card|>
          <Card.header>
            <AuHeading @level="2" @skin="3">Subsidies</AuHeading>
            <AuHr />
          </Card.header>
          <Card.content>
            <AuList @divider={{true}} as |Item|>
              <Item>
                <AuLink @route="subsidies">Overzicht</AuLink>
              </Item>
              <Item>
                <AuLink @route="subsidies.my-subsidies">Mijn subsidies</AuLink>
              </Item>
              <Item>
                <AuLink @route="subsidies.favorites">Favorieten</AuLink>
              </Item>
              <Item>
                <AuLink @route="subsidies.detail">Detail</AuLink>
              </Item>
              <Item>
                <AuLink @route="subsidies.active">Actieve subsidie aanvraag</AuLink>
              </Item>
            </AuList>
          </Card.content>
        </AuCard>
        <AuCard as |Card|>
          <Card.header>
            <AuHeading @level="2" @skin="3">Data bronnen</AuHeading>
            <AuHr />
          </Card.header>
          <Card.content>
            <AuList @divider={{true}} as |Item|>
              <Item>
                <AuLink @route="dashboard.datasources">Overzicht</AuLink>
              </Item>
            </AuList>
          </Card.content>
        </AuCard>
        <AuCard as |Card|>
          <Card.header>
            <AuHeading @level="2" @skin="3">Rapporten</AuHeading>
            <AuHr />
          </Card.header>
          <Card.content>
            <AuList @divider={{true}} as |Item|>
              <Item>
                <AuLink @route="dashboard.reporting">Overzicht</AuLink>
              </Item>
            </AuList>
          </Card.content>
        </AuCard>
        <AuCard as |Card|>
          <Card.header>
            <AuHeading @level="2" @skin="3">Berichten</AuHeading>
            <AuHr />
          </Card.header>
          <Card.content>
            <AuList @divider={{true}} as |Item|>
              <Item>
                <AuLink @route="dashboard.messages">Overzicht</AuLink>
              </Item>
            </AuList>
          </Card.content>
        </AuCard>
      </div>
    </section>
  </m.content>
</AuMainContainer>
