{{page-title "Index"}}

<AuMainContainer as |m|>
  <m.content @scroll={{true}}  class="au-u-background-gray-100">
    <section class="au-o-region-large">
      <div class="au-o-layout au-o-layout--small   au-o-flow">
        <AuHeading class="au-u-text-center">
          Loket prototype
        </AuHeading>
        <AuCard as |Card|>
          <Card.header>
            <AuHeading @level="2" @skin="3">Overview</AuHeading>
            <AuHr />
          </Card.header>
          <Card.content>
            <AuList @divider={{true}} as |Item|>
              <Item>
                <AuLink @route="login">Login page</AuLink>
              </Item>
              <Item>
                <AuLink @route="dashboard">Overzicht</AuLink>
              </Item>
              <Item>
                <AuLink @route="cases">Mijn dossier</AuLink>
              </Item>
              {{!-- <Item>
                <AuLink @route="data">Mijn gegevens</AuLink>
              </Item> --}}
              {{!-- <Item>
                <AuLink @route="messages">Berichten</AuLink>
              </Item> --}}
              <Item>
                <AuLink @route="updates">Instellingen</AuLink>
              </Item>
              <Item>
                <AuLink @route="email">Nieuwsbrief</AuLink>
              </Item>
            </AuList>
          </Card.content>
        </AuCard>
        <AuCard as |Card|>
          <Card.header>
            <AuHeading @level="2" @skin="3">Overzicht</AuHeading>
            <AuHr />
          </Card.header>
          <Card.content>
            <AuList @divider={{true}} as |Item|>
              <Item>
                <AuLink @route="dashboard">Overzicht</AuLink>
              </Item>
              <Item>
                <AuLink @route="dashboard.favorites">Favorieten</AuLink>
              </Item>
            </AuList>
          </Card.content>
        </AuCard>
        <AuCard as |Card|>
          <Card.header>
            <AuHeading @level="2" @skin="3">Mijn dossiers</AuHeading>
            <AuHr />
          </Card.header>
          <Card.content>
            <AuList @divider={{true}} as |Item|>
              <Item>
                <AuLink @route="cases">Overzicht</AuLink>
              </Item>
              <Item>
                <AuLink @route="cases.search">Zoek</AuLink>
              </Item>
              <Item>
                <AuLink @route="cases.dossier">Dossier</AuLink>
              </Item>
              <Item>
                <AuLink @route="cases.dossier-missing-info">Dossier - Missing info</AuLink>
              </Item>
            </AuList>
          </Card.content>
        </AuCard>
        {{!-- <AuCard as |Card|>
          <Card.header>
            <AuHeading @level="2" @skin="3">Mijn gegevens</AuHeading>
            <AuHr />
          </Card.header>
          <Card.content>
            <AuList @divider={{true}} as |Item|>
              <Item>
                <AuLink @route="data">Overzicht</AuLink>
              </Item>
              <Item>
                <AuLink @route="data.search">Zoek</AuLink>
              </Item>
              <Item>
                <AuLink @route="data.detail">Detail</AuLink>
              </Item>
            </AuList>
          </Card.content>
        </AuCard> --}}
        {{!-- <AuCard as |Card|>
          <Card.header>
            <AuHeading @level="2" @skin="3">Berichten</AuHeading>
            <AuHr />
          </Card.header>
          <Card.content>
            <AuList @divider={{true}} as |Item|>
              <Item>
                <AuLink @route="messages">Overzicht</AuLink>
              </Item>
              <Item>
                <AuLink @route="messages.search">Zoek</AuLink>
              </Item>
              <Item>
                <AuLink @route="messages.detail">Detail</AuLink>
              </Item>
            </AuList>
          </Card.content>
        </AuCard> --}}
      </div>
    </section>
  </m.content>
</AuMainContainer>
