{{page-title "Loket voor lokale besturen"}}

<Header @loggedIn={{@loggedIn}} />
<NavigationHeader />
<AuBodyContainer class="au-u-background-gray-100">
  <section class="c-landing">
    <div class="au-o-flow">
      {{!-- TODO replace with user's organization name --}}
      <AuHeading @level="1" @skin="2">Gemeente Aalter</AuHeading>
      <p class="au-u-para landing-intro">In dit loket vind je alle producten of diensten die de Vlaamse overheid aanbiedt aan lokale besturen. Veelgebruikte producten of diensten kun je zelf aanduiden als favoriet, zodat je ze snel kunt terugvinden in de onderstaande lijst of op de pagina Mijn favorieten.</p>
    </div>

    <div class="c-main-search-container au-u-margin-top">
      <div class="c-search-sort-container">
        <div class="c-search-container">
          <form {{on "submit" this.search}} class="c-navigation-search au-u-max-width-small">
            <div>
              <div class="c-search-icon-label">
                <div class="c-search-icon-container">
                  <AuIcon @icon="search" />
                </div>
                <AuLabel for="search">Wat zoek je?</AuLabel>
              </div>
              <AuInput
                id="search"
                value={{this.searchTermBuffer}}
                @width="block"
                {{on "input" this.updateSearchTermBuffer}}
                placeholder="Zoek op naam, beschrijving of thema van een product of dienst"
              />
            </div>
            {{#if this.searchTerm}}
              <AuButton
                @skin="secondary"
                {{on "click" this.resetSearch}}>
                <AuIcon @icon="cross" />
                <span class="au-u-hidden-visually">close</span>
              </AuButton>
            {{/if}}
            <AuButton type="submit" @icon="search">
              Zoek
            </AuButton>
          </form>
        </div>
      </div>
      <div class="c-suggestions-container">
        {{#each this.suggestions as |suggestion|}}
          <AuPill>{{suggestion}}</AuPill>
        {{/each}}
      </div>
    </div>

    {{!-- {{#if @model.length}}
      <div class="favorites-container au-u-margin-top-large">
        <AuHeading @level="2" @skin="3">Favorieten</AuHeading>
        <ul class="au-u-flex au-u-flex--wrap au-u-flex--spaced-tiny au-u-padding-top-tiny">
          {{#each @model as |product|}}
            <li class="favorite-card">
              <AuIcon @icon='star-filled' />
              <LinkTo
                @route="products.product"
                @model={{product.id}}
                class="favorite-title au-u-medium">
                {{product.name.default}}
              </LinkTo>

              <AuLinkExternal
                href={{product.website.url}}
                @skin="naked"
                @icon="external-link"
                @iconAlignment="right">
              </AuLinkExternal>
            </li>
          {{/each}}
        </ul>
      </div>
    {{/if}} --}}

    <div class="favorites-container au-u-margin-top-large">
        <AuHeading @level="2" @skin="3">Favoriete producten of diensten</AuHeading>
        <ul class="au-u-flex au-u-flex--wrap au-u-flex--spaced-tiny au-u-padding-top-tiny">
          <li class="favorite-card">
            <AuIcon @icon='star-filled' />
            <AuLinkExternal
              @skin="naked"
              href="https://www.vlaanderen.be/lokaal-bestuur/loket-voor-lokale-besturen/berichtencentrum"
              class="favorite-title au-u-medium">
              Berichtencentrum
            </AuLinkExternal>

            <AuLinkExternal
              href="https://www.vlaanderen.be/lokaal-bestuur/loket-voor-lokale-besturen/berichtencentrum"
              @skin="naked"
              @icon="external-link"
              @iconAlignment="right">
            </AuLinkExternal>
          </li>

          <li class="favorite-card">
            <AuIcon @icon='star-filled' />
            <AuLinkExternal
              @skin="naked"
              href="https://www.vlaanderen.be/lokaal-bestuur/loket-voor-lokale-besturen/beleids-en-beheerscyclus-digitale-rapportering-bbc-dr"
              class="favorite-title au-u-medium">
              BBC-DR
            </AuLinkExternal>

            <AuLinkExternal
              href="https://www.vlaanderen.be/lokaal-bestuur/loket-voor-lokale-besturen/beleids-en-beheerscyclus-digitale-rapportering-bbc-dr"
              @skin="naked"
              @icon="external-link"
              @iconAlignment="right">
            </AuLinkExternal>
          </li>

          <li class="favorite-card">
            <AuIcon @icon='star-filled' />
            <AuLinkExternal
              @skin="naked"
              href="https://www.vlaanderen.be/lokaal-bestuur/loket-voor-lokale-besturen/mandatenbeheer-lokale-besturen"
              class="favorite-title au-u-medium">
              Mandatenbeheer
            </AuLinkExternal>

            <AuLinkExternal
              href="https://www.vlaanderen.be/lokaal-bestuur/loket-voor-lokale-besturen/mandatenbeheer-lokale-besturen"
              @skin="naked"
              @icon="external-link"
              @iconAlignment="right">
            </AuLinkExternal>
          </li>

          <li class="favorite-card">
            <AuIcon @icon='star-filled' />
            <AuLinkExternal
              @skin="naked"
              href="https://www.vlaanderen.be/lokaal-bestuur/loket-voor-lokale-besturen/subsidiebeheer"
              class="favorite-title au-u-medium">
              SubsidiePunt
            </AuLinkExternal>

            <AuLinkExternal
              href="https://www.vlaanderen.be/lokaal-bestuur/loket-voor-lokale-besturen/subsidiebeheer"
              @skin="naked"
              @icon="external-link"
              @iconAlignment="right">
            </AuLinkExternal>
          </li>

          <li class="favorite-card">
            <AuIcon @icon='star-filled' />
            <AuLinkExternal
              @skin="naked"
              href="https://www.vlaanderen.be/lokaal-bestuur/data-en-tools/databank-erediensten"
              class="favorite-title au-u-medium">
              Databank Erediensten
            </AuLinkExternal>

            <AuLinkExternal
              href="https://www.vlaanderen.be/lokaal-bestuur/data-en-tools/databank-erediensten"
              @skin="naked"
              @icon="external-link"
              @iconAlignment="right">
            </AuLinkExternal>
          </li>

          <li class="favorite-card">
            <AuIcon @icon='star-filled' />
            <AuLinkExternal
              @skin="naked"
              href="https://www.vlaanderen.be/lokaal-bestuur/organisatie-en-werking/loket-voor-lokale-besturen"
              class="favorite-title au-u-medium">
              Verenigingen
            </AuLinkExternal>

            <AuLinkExternal
              href="https://www.vlaanderen.be/lokaal-bestuur/organisatie-en-werking/loket-voor-lokale-besturen"
              @skin="naked"
              @icon="external-link"
              @iconAlignment="right">
            </AuLinkExternal>
          </li>
        </ul>
      </div>
  </section>
</AuBodyContainer>

