{{page-title "Subsidies"}}
<LayoutDashboard @loggedIn={{true}}>
  <NavigationHeader />
  <AuMainContainer as |m|>
    <m.sidebar>
      <Sidebar>
        <div class="au-c-sidebar__content" tabindex="-1">
          <ul class="au-c-list-navigation">
            <li class="au-c-list-navigation__item">
              <AuNavigationLink @route="subsidies.index" role="menuitem" class="{{if (eq this.activeRoute 'subsidies.detail') 'active'}}">
                <AuIcon @icon="subsidies" @alignment="left" />
                Overzicht
              </AuNavigationLink>
            </li>
            <li class="au-c-list-navigation__item">
              <AuNavigationLink @route="subsidies.my-subsidies" role="menuitem" class="{{if (or (eq this.activeRoute 'subsidies.active.index')(eq this.activeRoute 'subsidies.active.request')(eq this.activeRoute 'subsidies.active.info')) 'active'}}">
                <AuIcon @icon="folder" @alignment="left" />
                Mijn subsidies
              </AuNavigationLink>
            </li>
            <li class="au-c-list-navigation__item">
              <AuNavigationLink @route="subsidies.favorites" role="menuitem">
                <AuIcon @icon="star-filled" @alignment="left" />
                Favorieten
              </AuNavigationLink>
            </li>
          </ul>
          <ul class="au-c-list-navigation">
            <li class="au-c-list-navigation__section-title">
              Thema's
            </li>
            <li class="au-c-list-navigation__item">
              <AuNavigationLink role="menuitem">
                Jeugd
              </AuNavigationLink>
            </li>
            <li class="au-c-list-navigation__item">
              <AuNavigationLink role="menuitem">
                Sport
              </AuNavigationLink>
            </li>
            <li class="au-c-list-navigation__item">
              <AuNavigationLink role="menuitem">
                Cultuur
              </AuNavigationLink>
            </li>
            <li class="au-c-list-navigation__item">
              <AuNavigationLink role="menuitem">
                Vrije tijd
              </AuNavigationLink>
            </li>
          </ul>
          <ul class="au-c-list-navigation">
            <li class="au-c-list-navigation__section-title">
              Deadline
            </li>
            <li class="au-c-list-navigation__item">
              <AuNavigationLink role="menuitem">
                Deze maand
              </AuNavigationLink>
            </li>
            <li class="au-c-list-navigation__item">
              <AuNavigationLink role="menuitem">
                Dit kwartaal
              </AuNavigationLink>
            </li>
            <li class="au-c-list-navigation__item">
              {{#if (eq this.dateFilter true)}}
              <div class="au-c-list-navigation__form">
                <AuLabel>Specifiek</AuLabel>
                <AuDateInput/>
              </div>
              {{else}}
              <AuNavigationLink role="menuitem" {{on 'click' this.toggleDateFilter}}> 
                Specifiek
              </AuNavigationLink>
              {{/if}}
            </li>
          </ul>
        </div>
      </Sidebar>
    </m.sidebar>
    <m.content>  
      <AuBodyContainer class="au-u-background-gray-100" >
        {{outlet}}
      </AuBodyContainer>
    </m.content>
  </AuMainContainer>
</LayoutDashboard>